.select-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.select-brand select {
  border: none;
  color: #fff;
  /* background: linear-gradient(to top, #fdf0ea 50%, transparent 50%); */
  font-weight: 700;
  font-size: 1.5em;
  font-weight: bold;
  appearance: none;
  cursor: pointer;
  text-align: center;
  padding: 10px 32px 10px 25px;
  border-radius: 12px;
  background-image: url(/src/arrow-down.png);
  background-position: right 12px center;
  background-repeat: no-repeat;
  background-size: 12px;
}


.select-brand .MuiOutlinedInput-notchedOutline, .MuiInputBase-root {
  border-color: var(--select-country-color)!important;
}

.select-brand .MuiFormLabel-root {
  color: var(--select-country-color) !important;
}


.select-brand .MuiSvgIcon-root {
  fill: var(--select-country-color) !important;
}
