

.hero {
  position: relative;
}
/* .hero:before, .hero:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
          clip-path: polygon(0 0, 0 100%, 100% 100%);
  background-color: #d61db7;
  height: 50px;
  z-index: 1;
}
.hero:after {
  left: auto;
  right: 0;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
} */
.hero .heading {
  font-size: 9rem;
}
.hero .sub-heading {
  padding: 1rem;
}
.hero .sub-heading:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(97deg, #09a1a1  0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 120%;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.28;
}
.hero .sub-heading:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -130px;
  background: linear-gradient(97deg, rgba(0, 0, 0, 0) 0%, #4b8ebb  100% );
  width: 50%;
  height: 40%;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.28;
}
.hero .max {
  /* max-width: 650px; */
  margin: 0 auto;
}

.hero {
  background-color: #d61db7;
  background-image: url(../images/hero/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
  min-height: 1000px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .hero {
    min-height: 600px;
  }
}
.hero .bground:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5 );
}

.hero .shape-wrap img {
  z-index: -1;
}
.hero .shape-wrap:hover .obj-1 {
  animation: rippleEffect 5s linear infinite;
}
@keyframes rippleEffect {
  0% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(5px, -15px);
  }
  66% {
    transform: translate(-15px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
